
/* Navbar */

.active {
    color: #8a35f1;
    font-weight: bold;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    position: sticky;
    top: 0;
    background-color: #ffff;

}

.log {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.log img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100px;
    height: auto;
}


.log{
        text-decoration: none;
}
.log h1 {
    color: #8a35f1;
    font-weight: bold;
}

.links ul {
    display: flex;
    margin: 0 5px;
}

.links ul li {
    list-style: none;
}

.links ul li a {
    margin-top: 10px;
    width: 50px;
    font-size: 25px;
    display: block;
    color: black;
}

.links ul li a:hover,
.links ul li a.active {
    color: #8a35f1;
}

.links ul li button:hover {
    color: #8a35f1;
}

.links button {
    margin-top: 10px;
    width: 50px;
    cursor: pointer;
    border: none;
    font-size: 25px;
    background: none;
    margin: 10px 10px 0 0;
}


.nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

.nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #000;
    border-radius: 0.2rem;
}


@media (max-width: 500px) {
    .nav .menu {
        display: flex;
        margin-right: 20px;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    .nav ul.open {
        display: flex;
    }

    .nav ul li {
        width: 100%;
        text-align: center;
    }

    .nav ul li a {
        margin: 0.2rem 0.5rem;
    }

    .links button {
        margin-left: 0;
    }



}