/* ProductDetails */
.product-Details {
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 100px 0 0 200px;


}

.image {
    float: left;
    width: 250px;
    height: 250px;
    
}

.image img {
    width: 100%;
    height: 100%;
    padding: 0 20px 0 10px;
}

.details {
    padding: 30px;
}

.product-Details button {
    margin-top: 15px;
    background: #8a35f1;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    margin-right: 50px;
}
.product-Details button:hover {
    background-color: #6b247c;
}

.linkUpdate {
    margin-top: 15px;
    background:#8a35f1;
    color: #fff;
    border: none;
    outline: none;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    margin-right: 50px;
    text-decoration: none;
}
.linkUpdate:hover {
    background-color: #6b247c;
}

@media(max-width: 600px) {
    .product-Details {
        margin: auto;
        display: flex;
        justify-content: center;
            align-items: center;
    }

    .image {
        float: none;
        display: block;
    }
}